[submodule "client/bundles/com.zizibujuan.teach.client.ace/static/ace"]
	path = client/bundles/com.zizibujuan.teach.client.ace/static/ace
	url = https://github.com/ajaxorg/ace.git
[submodule "client/bundles/com.zizibujuan.teach.client.reveal/static/reveal"]
	path = client/bundles/com.zizibujuan.teach.client.reveal/static/reveal
	url = https://github.com/hakimel/reveal.js.git
[submodule "server/bundles/com.zizibujuan.drip.server.util"]
	path = server/bundles/com.zizibujuan.drip.server.util
	url = git@github.com:zizibujuan/server.util.git
[submodule "server/bundles/com.zizibujuan.drip.server.exception"]
	path = server/bundles/com.zizibujuan.drip.server.exception
	url = git@github.com:zizibujuan/server.exception.git
[submodule "server/build/com.zizibujuan.drip.server.dependences"]
	path = server/build/com.zizibujuan.drip.server.dependences
	url = git@github.com:zizibujuan/server.dependences.git
[submodule "server/bundles/com.zizibujuan.dbaccess.mysql"]
	path = server/bundles/com.zizibujuan.dbaccess.mysql
	url = git@github.com:zizibujuan/dbaccess.mysql.git