[submodule "client/bundles/com.zizibujuan.teach.client.ace/static/ace"]
	path = client/bundles/com.zizibujuan.teach.client.ace/static/ace
	url = https://github.com/ajaxorg/ace.git
[submodule "client/bundles/com.zizibujuan.teach.client.reveal/static/reveal"]
	path = client/bundles/com.zizibujuan.teach.client.reveal/static/reveal
	url = https://github.com/hakimel/reveal.js.git
