<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/teaching"
            class="com.zizibujuan.teach.server.servlets.TeachingServlet">
      </servlet>
      <servlet
            alias="/socketInit"
            load-on-startup="true"
            class="com.zizibujuan.teach.server.servlets.WebSocketInitServlet">
      </servlet>
      
      <servlet
            alias="/courses"
            class="com.zizibujuan.teach.server.servlets.CourseServlet">
      </servlet>
      
      <servlet
            alias="/classes"
            class="com.zizibujuan.teach.server.servlets.ClassServlet">
      </servlet>
      
    </extension>
</plugin>
