<div>
	<form data-dojo-attach-point="form">
		<div>
			<label for="txtCourseName">课程名称</label>
			<input data-dojo-attach-point="txtCourseName" data-dojo-type="dijit/form/ValidationTextBox" name="name" id="txtCourseName"></input>
		</div>
		<div>
			<label for="txtDesc">课程描述</label>
			<textarea data-dojo-type="dijit/form/SimpleTextarea" name="description" rows="3" id="txtDesc"></textarea>
		</div>
	</form>
	<button data-dojo-attach-point="btnCreate" type="button" disabled class="btn btn-primary">创建</button>
</div>