<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
         <httpcontext
            id="com.zizibujuan.teach.client.httpcontext.bootstrap">
	         <resource-mapping
	               bundle="com.zizibujuan.teach.client.bootstrap"
	               path="/static/bootstrap">
	         </resource-mapping>
         </httpcontext>
    </extension>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/bootstrap"
            httpcontextId="com.zizibujuan.teach.client.httpcontext.bootstrap">
      </resource>
    </extension>
</plugin>
