#%RAML 0.8
title: 课程表管理API
baseUri: http://zizibujuan.com
version: v0.1
/curricula:
  description: 维护课程表，可使用日历控件维护。
  displayName: Curriculum Schedule
  post:
    description: 登录用户在课程表中新增课程
    body:
      application/json:
        schema: |
          {
            "type": "object",
            "properties": {
              "startDate": {
                "description": "整个课程开始日期",
                "type": "date"
              },
              "startTime": {
                "description": "开始时间",
                "type": "string",
                "example": "9:00"
              },
              "endTime": {
                "description": "结束时间",
                "type": "string",
                "example": "10:00"
              },
              "courseId": {
                "description": "课程标识",
                "type": "integer",
                "required": true
              },
              "classId": {
                "description": "班级标识",
                "ype": "integer",
                "required": true
              },
              "weeklyRepeat": {
                "description": "是否以周为频率重复",
                "type": "boolean",
                "default": false
              },
              "repeatWeekCount": {
                "description": "重复多少周,重复次数与结束日期，只能使用其中一个,优先使用这个",
                "type": "integer",
                "default": 0
              },
              "endDate": {
                "description": "整个课程结束日期",
                "type": "date"
              },
              "repeatDays": {
                "type": "string",
                "description": "一周中的重复日期，可多选，用逗号隔开。",
                "enum": "[星期一, 星期二, 星期三, 星期四, 星期五, 星期六, 星期日]"
              }
            }
          }
    responses:
      201:
        description: 登录用户安排课时成功
        body:
          application/json:
            schema: |
              {
                "id": 1
              }
  /{curriculumnId}:
  get:
    description: 获取课程表详情
    
  /{curriculumId}/events:
    description: 单独维护课程表中的不遵循规律的课程
    post:
      description:
    delete:
      