#%RAML 0.8
title: 课时管理API
baseUri: http://zizibujuan.com
version: v0.1
/{courseId}/lessons:
  uriParameters:
    courseId:
      description: 课程标识
      type: string
      required: true
  displayName: Lessons
  post:
    description: 登录用户为课程添加课时
    body:
      application/x-www-form-urlencoded:
        formParameters:
          name:
            type: string
            required: true
            maxLength: 64
    responses:
      201:
        description: 登录用户为课程添加课时成功
        body:
          application/json:
            schema: |
              {
                "id": 1
              }
      412:
        description: 登录用户为课程添加的课时名称已被使用
        body: 
          application/json:
            schema: |
              {
                "type": "field",
                "errors": [
                  {
                    "field": "name", 
                    "message": "名称已被使用 | 名称不能为空 | 名称最多32个字"
                  }
                ]
              }
  /check-name:
    post:
      queryParameters:
        owner:
          type: string
          description: 用户标识
      body:
        application/x-www-form-urlencoded:
          formParameters:
            value:
              description: 课时名
              type: string
      responses:
        200:
          description: 登录用户选择的课程下没有同名的课时
          body:
            application/json:
              schema: |
                {
                  "name": "lesson1"
                }
        403:
          description: 登录用户选择的课程下已有同名的课时
          body:
            application/json:
              schema: |
                {
                  "message": "名称已被使用"
                }
  get:
    description: 获取登录用户选择的课程下的所有课时。
    responses:
      200:
        description: |
          获取登录用户选择的课程下的所有课时成功，如果没有课程则显示“请添加课时”
        body:
          application/json:
            schema: |
              [{
               "id": 1,
               "name": "lesson1" 
              }]
                
              