<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
         <httpcontext
            id="com.zizibujuan.teach.client.httpcontext.reveal">
	         <resource-mapping
	               bundle="com.zizibujuan.teach.client.reveal"
	               path="/static/reveal">
	         </resource-mapping>
         </httpcontext>
    </extension>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/reveal"
            httpcontextId="com.zizibujuan.teach.client.httpcontext.reveal">
      </resource>
    </extension>

</plugin>
