<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
         <httpcontext
            id="com.zizibujuan.client.httpcontext.fontawesome">
	         <resource-mapping
	               bundle="com.zizibujuan.client.fontawesome"
	               path="/static/fontawesome">
	         </resource-mapping>
         </httpcontext>
    </extension>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/fontawesome"
            httpcontextId="com.zizibujuan.client.httpcontext.fontawesome">
      </resource>
    </extension>
</plugin>
